body{
    background-color: lightpink;
}

h1{
    color: palevioletred;
    font-size: 100px;
}

h2 {
    background-color: #C71585;  /* Rosa escuro lindo! */
    color: white;
    font-size: 45px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    margin: 30px 0;
}